<!DOCTYPE html>
<html>
  <head>
    <title>Elliott Chat</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/stylesheets/style.css">
    <script src="static/javascripts/jquery-3.3.1.min.js"></script>
  </head>
  <body>
  <p>
<font size=5><center>Welcome to Elliott Chat</center></font>
</p>

                <form id="refresh" action="/chat" method="post" enctype="application/json">
                    <input type="hidden" name="available" value="True" />
                    <input type="hidden" name="name" id="name" value="{{chatuser}}">                
                  <center>  <input type="submit" value="Refresh"> </center>
                </form>                
               
<table>
<thead><tr><th width="20%"> </th><th width="15%">User:</th><th width="50%">Message:</th><th width="15%">Actions</th></tr></thead>
<tbody>
<tr bgcolor=#80ac90>
                <form id="create_data" action="/message" method="post" enctype="application/json">
                    <input type="hidden" name="available" value="True" />
                    <input type="hidden" name="name" id="name" value="{{chatuser}}">
    <td><font color="red">New Message</font></td>                  
    <td>{{chatuser}}</td>
    <td><input name="text" id="text" value="Hello there!" rows="4"></td>
    <td><input type="submit" value="Send message"></td>
    </form>

</tr>


{%for msg in messages%}
<tr>
	<td>
 <font size=2> {{msg.timestamp}} </font>
    </td>
    <td>
    {{msg.name}}
</td>
<td>
{{msg.text}}
</td>	
<td>

 <div class="dropdown">
  <button class="dropbtn">...</button>
  <div class="dropdown-content">
  <form action="/detect"><input type="hidden" name="msgid" value= {{msg.id}} /><input type="submit" value="Detect Language"></form>
  <form action="/translate"><input type="hidden" name="msgid" value= {{msg.id}} /><input type="submit" value="Translate this message"></form>
  <form action="/speak"><input type="hidden" name="msgid" value= {{msg.id}} /><input type="submit" value="Speak this message"></form>
  <form action="/analysis"><input type="hidden" name="msgid" value= {{msg.id}} /><input type="submit" value="Analyze"></form>
  </div>
</td>
</tr>
{%endfor%}
</tbody>
</table>
  </body>
</html>



<script>

</script>