<!DOCTYPE html>
<html>
  <head>
    <title>Elliott Chat - Language detect</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/stylesheets/style.css">
    <script src="static/javascripts/jquery-3.3.1.min.js"></script>
  </head>
  <body>
  <p class='description'>
Welcome to Elliott Chat
<p>
</p>

 This message. <br><br>
       <i> {{msgtxt.category}} </i> <br> <br>      
is in the language:        
{{dectlang}} with a confidence of {{dectconf*100}} %

  <br>
 <form>
  <input type="button" value="Go back!" onclick="history.back()">
</form>
  </body>
</html>

<script>


</script>