<!DOCTYPE html>
<html>
  <head>
    <title>Elliott Chat - Translate</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/stylesheets/style.css">
    <script src="static/javascripts/jquery-3.3.1.min.js"></script>
  </head>
  <body>
  <p class='description'>
Welcome to Elliott Chat
<p>
</p>

 This will do text-to-speech.
              

	
		<input id = "trbox" type = "textbox" name = "msgtext" value ='{{msgtxt['category']}}'>
		<button id="submit">Text-to-Speech</button>
	</form>
			  
  </body>
</html>

<script>

$("body").append(document.getElementById('msgtext').value);
</script>