<!DOCTYPE html>
<html>
  <head>
    <title>Elliott Chat - Translate</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/stylesheets/style.css">
    <script src="static/javascripts/jquery-3.3.1.min.js"></script>
  </head>
  <body>
  <p class='description'>
Welcome to Elliott Chat
<p>
</p>

 This will translate the message. <br><br>
       <i> {{msgtxt.category}} </i> <br> <br>       
	<form action="/translated">
	
    From:
	<select name="lfrom">
    <option value="en">English</option>
    <option value="ar">Arabic</option>
    <option value="cs">Czech</option>
    <option value="da">Danish</option>
    <option value="de">German</option>
    <option value="es">Spanish</option>
    <option value="fi">Finnish</option>
    <option value="fr">French</option>
    <option value="hi">Hindi</option>
    <option value="it">Italian</option>
    <option value="ja">Japanese</option>
    <option value="ko">Korean</option>
    <option value="nb">Norwegian Bokmal</option>
    <option value="nl">Dutch</option>
    <option value="pl">Polish</option>
    <option value="pt">Portuguese</option>
    <option value="ru">Russian</option>
    <option value="sv">Swedish</option>
    <option value="tr">Turkish</option>
    <option value="zh">Simplified Chinese</option>
  </select>
	To:
	<select name="lto">
    <option value="en">English</option>
    <option value="ar">Arabic</option>
    <option value="cs">Czech</option>
    <option value="da">Danish</option>
    <option value="de">German</option>
    <option value="es">Spanish</option>
    <option value="fi">Finnish</option>
    <option value="fr">French</option>
    <option value="hi">Hindi</option>
    <option value="it">Italian</option>
    <option value="ja">Japanese</option>
    <option value="ko">Korean</option>
    <option value="nb">Norwegian Bokmal</option>
    <option value="nl">Dutch</option>
    <option value="pl">Polish</option>
    <option value="pt">Portuguese</option>
    <option value="ru">Russian</option>
    <option value="sv">Swedish</option>
    <option value="tr">Turkish</option>
    <option value="zh">Simplified Chinese</option>
  </select>
	
		<input type="hidden" name="msgid" value= {{msgtxt.id}} />
		<input type="submit" value="Translate">
	</form>
    
{%for lng in models%}
{{models}} <br>
{%endfor%}

  <br>
 <form>
  <input type="button" value="Go back!" onclick="history.back()">
</form>
		  
  </body>
</html>

<script>


</script>